name: Test Microk8s
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: A job to install MicroK8s
    steps:
    - uses: balchua/microk8s-actions@feature/strict
      with:
        channel: '1.25/stable'
        addons: '["rbac", "dns", "hostpath-storage", "registry", "metrics-server"]'

    - name: Check User
      run: |
        id
        sg microk8s -c 'microk8s status'
        
    - name: Test MicroK8s
      id: microk8s
      run: |
        set -ex
        kubectl get no
        kubectl get pods -A -o wide

        # wait for storage pod to be ready
        kubectl -n kube-system wait --for=condition=ready pod -l k8s-app=hostpath-provisioner --timeout=60s
        storage_ready=$?

        if [ $storage_ready -ne 0 ]; then
          echo "Error storage not ready."
          exit $storage_ready
        fi
    - name: Test MicroK8s commands
      id: microk8s-commands
      run: |
        set -ex
        echo "Executing microk8s status using sg command."
        sg microk8s -c 'microk8s status'
        echo "Executing microk8s status using sudo command."
        sudo microk8s status
